@import "variable";

button {
  background-color: $color-blue;
  color: $color-white;
  padding: 5px;
  margin: 5px;
}

.tweet-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid $color-black;
}

textarea {
  border: none;
  outline: none;
  background-color: $color-transparent;
  padding-top: 0.5em;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  font-family: $font-title-stack;
  padding-top: 0.5em;
}

.counter {
  font-weight: bold;
}

label {
  font-weight: bold;
}

.tweet:hover {
  box-shadow: 10px 10px #778ba5;
}

.tweet {
  box-shadow: none;
}

.fa-flag:hover {
  color: $color-sandybrown;
}

.fa-flag {
  color: $color-blue;
}

.fa-retweet:hover {
  color: $color-sandybrown;
}

.fa-retweet {
  color: $color-blue;
}

.fa-heart:hover {
  color: $color-sandybrown;
}

.fa-heart {
  color: $color-blue;
}

/*error box styling */
.error {
  padding: 10px;
  background-color: $color-red; /* Red */
  color: $color-white;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.error-text {
  display: flex;
  flex-direction: row;
}

/* The close button */
.error-close {
  color: $color-white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.error-close:hover {
  color: $color-black;
}

#error-msg {
  padding: 0;
  margin: 0
}

.fa-exclamation-triangle {
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
}