$font-body-stack: "Source Sans Pro", sans-serif;
$color-dull-font: #545149;
$color-body-background: #f4f1ec;
$color-white: white;
$color-red: red;
$font-title-stack: "Bungee", sans-serif;
$color-blue: #4056A1;
$color-sandybrown: sandybrown;
$color-black: black;
$color-transparent: transparent;