article.tweet {
  border: solid black;
  margin-top: 3em;
  margin-bottom: 3em;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article.tweet header div {
  display: flex;
  flex-direction: row;
}

article.tweet header div img {
  padding-left: 1em;
  padding-top: 1em;
  height: fit-content;
}

article.tweet header div p{
  padding: 1em 1em 0.5em 1em;
}

.old-tweet {
  margin: 0.5em;
  border-bottom: solid black;
  padding: 1em 0.5em 1em 0.5em;
  font-weight: bold;
  overflow-wrap: break-word;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  margin: 1.5em;
}

.tweet-time {
  padding-top: 0;
  margin-top: 0;
}

article.tweet footer flags {
  color: #4056A1;
}