nav{
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9;
}

.app-name {
  font-size: 40px;
  font-family: "Bungee", sans-serif;
  margin-bottom: 0.5em;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  background-color: transparent;
}

.angle-bracket-icon {
  color: red;
}

.fa-angle-double-down {
  position: relative;
  margin-top: 10px;
  height: 10px;
  width: 10px;
}

.right-nav:hover {
  cursor: pointer;
}