nav.nav-bar {
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9;
}
nav.nav-bar span.app-name {
  font-size: 40px;
  font-family: "Bungee", sans-serif;
  margin-bottom: 0.5em;
}
nav.nav-bar button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  background-color: transparent;
}
nav.nav-bar button div.angle-bracket-icon {
  color: red;
}
nav.nav-bar button i {
  position: relative;
  margin-top: 10px;
  height: 10px;
  width: 10px;
}
nav.nav-bar button:hover {
  cursor: pointer;
}
